.page-header
	margin-top: 0
	margin-bottom: 15px
	font-size: 22px
	line-height: 26px
	padding: 0
	border: none
	.more-link
		display: inline-block
		vertical-align: top
		margin-left: 15px
		color: #ccc
		font-size: 14px
		font-weight: 400
		a
			color: #ccc
			&:hover
				color: $accent