.main-content
	background: url(../images/dist/bg2.png) no-repeat
	background-position: center center
	background-attachment: fixed
	background-size: contain

.description
	padding-top: 10px
	h1
		text-align: center
		@include media-breakpoint-up(md)
			text-align: left
	&__text
		font-style: italic

.category
	margin-top: 20px
	display: flex
	align-items: center
	&__item
		margin-bottom: 25px
	&__link
		display: flex
		flex-direction: column
		align-items: center
		text-decoration: none
		background-color: #fff
		transition: 0.2s
		border: 1px solid transparent
		&:hover
			border: 1px solid $accent
			box-shadow: 0 1px 5px -1px $accent
			text-decoration: none
		img
			width: 100%
	&__title
		text-align: center
		color: $accent